/* Basic picocss alerts */
/*.container {
	max-width: 600px;
}*/

.alert {
	margin-bottom: var(--spacing);
	padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
	border-radius: var(--border-radius);
	color: var(--color);
	background-color: var(--background-color);
	border: 1px solid var(--background-color);
	background-image: var(--icon);
	background-position: center left var(--form-element-spacing-vertical);
	background-size: calc(var(--font-size) * 1.5) auto;
	padding-left: calc(var(--form-element-spacing-vertical) * 2 + calc(var(--font-size) * 1.5));
	display: inline-block;
}

.alert-danger {
	--background-color: #ffebee;
	--icon: var(--icon-invalid);
	--color: #b71c1c;
}

.alert-warning {
	--background-color: #fff8e1;
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(179, 78, 0, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
	--color: #994300;
}

.alert-success {
	--background-color: #e8f5e9;
	--icon: var(--icon-valid);
	--color: #1b5e20;
}