<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Biblioteca</title>
  </head>
  <body>
    <article class="container">
		<h2 align="center">Book details</h2>
		<div class="grid">
			<div><center><img src={{data.cover}} alt="cover"></center></div>
			<div>
				<div class="grid">
					<div>
						<kbd>{{data.title}}</kbd><br><br>
						<kbd>Languages</kbd><br>
						{% if data.languages %}
							<ul>
								{% for l in data.languages %}
								<li>{{l}}</li>
								{% endfor %}
							</ul>
						{% else %}
							<small>Not found</small>
						{% endif %}
					</div>
					<div>
						<kbd>Authors</kbd><br>
						{% if data.authors %}
							{% for a in data.authors %}
							<hgroup>
								<h6>{{a.name}}</h6>
								<small>({{a.birth_year}}-{{a.death_year}})</small>
							</hgroup>
							{% endfor %}
						{% else %}
							<small>Not found</small>
						{% endif %}
					</div>
				</div>
				<br>
				<form method="POST">
					<div class="container">
						<div class="grid">
							<div><input type="number" id="quantity" name="quantity" placeholder="Quantity" min="1" required></div>
							<div style="margin-right: 1em;"><button type="submit">Order now</button></div>
						</div>
					</div>
				</form>
			</div>
		  </div>
	</article>
  </body>
</html>