<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="../static/alert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" >
      $(document).ready(function(){
        setTimeout(function() {
          $("#message").fadeOut('fast');
        }, 5000);
      });
    </script>
    <title>Biblioteca</title>
  </head>
  <body>
	{% if active_user %}
		<nav class="container-fluid">
			<ul>
				<li><strong>Biblioteca online</strong></li>
			</ul>
			<ul>
				<li>Ciao {{active_user[1]}}</li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	{% endif %}
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div id="message">
              <div class="{{ category }}" role="alert">{{message}}</div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <article>
        <h2 align="center">Analytics</h2>
        {% if not result_url %}
          <div class="grid">
            <div style="margin:2em;">
              <form method="GET">
                <label for="bookid">Book ID</label>
                <input type="number" id="bookid" name="bookid" placeholder="Book id" required>
                <button type="submit">Search</button>
              </form>
            </div>
            <div style="margin:2em;">
              <form method="GET">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" required>
                <button type="submit">Search</button>
              </form>
            </div>
          </div>
        {% else %}
          <div id="results" align="center"><img src="{{result_url}}" alt="result"/></div>
        {% endif %}
    </article>
  </main>
  </body>
</html>