<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
	<link rel="stylesheet" href="../static/alert.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" >
		$(document).ready(function(){
			setTimeout(function() {
				$("#message").fadeOut('fast');
			}, 5000);
		});
	</script>
    <title>Biblioteca</title>
  </head>
  <body>
	{% if active_user %}
		<nav class="container-fluid">
			<ul>
				<li><strong>Biblioteca online</strong></li>
			</ul>
			<ul>
				<li>Ciao {{active_user[1]}}</li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	{% endif %}
	<main class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div id="message">
						<div class="{{ category }}" role="alert">{{message}}</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% if active_user %}
			<div style="display: grid; justify-content: center;">{{ pagination.info }}</div><br>
                <table>
                    <tbody>
                    {% for book in books%}
                        <tr>
							<td>{{ loop.index + pagination.skip }}</td>
							<td><img src={{book.cover}} style="width:20%"></td>
							<td><h6>{{book.title}}</h6></td>
							<td><a href="{{ url_for('bookdetails', book_id=book._id) }}" role="button">Details</a></td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
			<div style="display: grid; justify-content: center;">{{ pagination.links }}</div>
		{% else %}
		 <article>
			<header><h3>Biblioteca online</h3></header>
			<div class="grid">
				<a href="{{ url_for('signup') }}" role="button" style="margin-bottom: 1em;">Signup</a>
				<a href="{{ url_for('login') }}" role="button" style="margin-bottom: 1em;">Login</a>
			  </div>
		 </article>
		{% endif %}
	</main>
  </body>
</html>