<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="../static/alert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" >
      $(document).ready(function(){
        setTimeout(function() {
          $("#message").fadeOut('fast');
        }, 5000);
      });
    </script>
    <title>Biblioteca</title>
  </head>
  <body>
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div id="message">
              <div class="{{ category }}" role="alert">{{message}}</div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <article>
        <h2 align="center">Login</h2>
        <form method="POST">
          <label for="email">Email address</label>
          <input type="email" id="email" name="email" placeholder="example@abc.com" required>
          <label for="psw">Password</label>
          <input type="password" id="psw" name="psw" required>

          <button type="submit">Submit</button>
        </form>
    </article>
  </main>
  </body>
</html>